
<md-content flex layout="column" layout-align="center center">
    <div flex layout="row">
        <md-table-pagination md-limit="tabledata.limit" md-limit-options="tabledata.limitoptions" md-page="tabledata.page"
                             md-total="{{tabledata.count}}" md-page-select md-boundary-links>
        </md-table-pagination>
        <span>&nbsp;</span>
        <md-icon md-ink-ripple="#333" style="cursor:pointer;" icon="replay" on-click="reset()">
            <md-tooltip>Reset filters</md-tooltip>
        </md-icon>        
        <md-icon md-ink-ripple="#333" style="cursor:pointer;" icon="create" on-click="create()">
            <md-tooltip>Create new record</md-tooltip>
        </md-icon>
        <md-icon md-ink-ripple="#333" style="cursor:pointer;" icon="autorenew" on-click="reload()">
            <md-tooltip>Reload data</md-tooltip>
        </md-icon>
    </div>
    <div ng-messages="{error: !!httpError}" role="alert">
        <div ng-message="error">{{httpError.error || httpError}}</div>
    </div>
    <form name="usermngform">
        <md-table-container>
            <table md-table>
                <thead md-head md-order="tabledata.order">
                    <tr md-row>
                        <th md-column md-order-by="username">User Name</th>
                        <th md-column md-order-by="username">Password</th>
                        <th md-column md-order-by="date">Permissions</th>
                        <th md-column md-order-by="birthdate">Birhdate</th>
                        <th md-column md-order-by="email">Email</th>
                        <th md-column>Action</th>
                    </tr>
                    <tr md-row>
                        <th md-column>
                            <input onbind-ngModel="searchform.username" bind-ngModelOptions="{ updateOn: 'default', getterSetter: true}" type="text" maxlength="32" />
                        </th>
                        <th md-column>&nbsp;</th>
                        <th md-column>
                            <md-select onbind-ngModel="searchform.permissions">
                                <md-option value="">(All)</md-option>
                                <md-option value="user">User</md-option>
                                <md-option value="admin">Administrator</md-option>
                            </md-select>
                        </th>
                        <th md-column>
                            <md-datepicker name="birthdateFrom" onbind-ngModel="searchform.birthdateFrom" md-max-date="searchform.birthdateTo" md-placeholder="date from" style="display:block"></md-datepicker>
                            <md-datepicker name="birthdateTo" onbind-ngModel="searchform.birthdateTo" md-min-date="searchform.birthdateFrom" md-max-date="maxDate" md-placeholder="date to" style="display:block"></md-datepicker>
                        </th>
                        <th md-column>
                            <input onbind-ngModel="searchform.email" bind-ngModelOptions="{ updateOn: 'default', getterSetter: true}" type="text" maxlength="32" />
                        </th>
                        <th md-column>&nbsp;</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row on-dblclick="showDetails(row)"
                        *ngFor="let row in tabledata.filtered = (tabledata.table | filter: searchform.filter) | orderBy: ['newrecord', tabledata.order] | limitTo: tabledata.limit : (tabledata.page -1) * tabledata.limit track by row.username">
                        <td md-cell *ngIf="row!==tabledata.selected || !tabledata.selected.newrecord">{{row.username}}</td>
                        <td md-cell *ngIf="row!==tabledata.selected">***</td>
                        <td md-cell *ngIf="row!==tabledata.selected">{{row.permissions==='admin' ? 'Administrator' : 'User'}}</td>
                        <td md-cell *ngIf="row!==tabledata.selected">{{row.birthdate | date}}</td>
                        <td md-cell *ngIf="row!==tabledata.selected">{{row.email}}</td>

                        <td md-cell *ngIf="row===tabledata.selected && tabledata.selected.newrecord">
                            <input type="text" onbind-ngModel="row.username" required name="{{'user'+$index}}" maxlength="32" class="invalid-border"/>
                        </td>
                        <td md-cell *ngIf="row===tabledata.selected">
                            <input type="password" onbind-ngModel="row.password" name="{{'pass'+$index}}" maxlength="32" minlength="2" class="invalid-border" />
                        </td>
                        <td md-cell *ngIf="row===tabledata.selected">
                            <md-select onbind-ngModel="row.permissions" name="{{'perms'+$index}}" required>
                                <md-option value="user">User</md-option>
                                <md-option value="admin">Administrator</md-option>
                            </md-select>
                        </td>
                        <td md-cell *ngIf="row===tabledata.selected">
                            <md-datepicker onbind-ngModel="row.birthdate" md-max-date="maxDate" required name="{{'birthdate'+$index}}" md-placeholder="birth date" class="invalid-border"></md-datepicker>
                        </td>
                        <td md-cell *ngIf="row===tabledata.selected">
                            <input type="email" onbind-ngModel="row.email" required name="{{'email'+$index}}" maxlength="32"  class="invalid-border"/>
                        </td>

                        <td md-cell style="cursor:pointer;">
                            <md-icon md-ink-ripple="#333" icon="save" on-click="!usermngform.$invalid && save(row)" *ngIf="row===tabledata.selected" bind-disabled="!usermngform.$dirty || usermngform.$invalid"><md-tooltip>Save current record</md-tooltip></md-icon>
                            <md-icon md-ink-ripple="#333" icon="replay" on-click="undo()" *ngIf="row===tabledata.selected"><md-tooltip>Undo current record</md-tooltip></md-icon>
                            <md-icon md-ink-ripple="#333" icon="mode_edit" on-click="edit(row)" *ngIf="row!==tabledata.selected"><md-tooltip>Edit current record</md-tooltip></md-icon>
                            <md-icon md-ink-ripple="#333" icon="delete" on-click="remove(row)" *ngIf="row!==tabledata.selected && !tabledata.selected.newrecord"><md-tooltip>Remove current record</md-tooltip></md-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </form>
</md-content>