
<md-content flex layout="column" layout-align="center center">
    <div flex layout="row">
        <md-table-pagination md-limit="vm.tabledata.limit" md-limit-options="vm.tabledata.limitoptions" md-page="vm.tabledata.page"
                             md-total="{{vm.tabledata.count}}" md-page-select md-boundary-links>
        </md-table-pagination>
        <span>&nbsp;</span>
        <ng-md-icon md-ink-ripple="#333" style="cursor:pointer;" icon="replay" ng-click="vm.reset()">
            <md-tooltip>Reset filters</md-tooltip>
        </ng-md-icon>        
        <ng-md-icon md-ink-ripple="#333" style="cursor:pointer;" icon="create" ng-click="vm.create()">
            <md-tooltip>Create new record</md-tooltip>
        </ng-md-icon>
        <ng-md-icon md-ink-ripple="#333" style="cursor:pointer;" icon="autorenew" ng-click="vm.reload()">
            <md-tooltip>Reload data</md-tooltip>
        </ng-md-icon>
    </div>
    <div ng-messages="{error: !!vm.httpError}" role="alert">
        <div ng-message="error">{{vm.httpError.error || vm.httpError}}</div>
    </div>
    <form name="usermngform">
        <md-table-container>
            <table md-table>
                <thead md-head md-order="vm.tabledata.order">
                    <tr md-row>
                        <th md-column md-order-by="username">User Name</th>
                        <th md-column md-order-by="username">Password</th>
                        <th md-column md-order-by="date">Permissions</th>
                        <th md-column md-order-by="birthdate">Birhdate</th>
                        <th md-column md-order-by="email">Email</th>
                        <th md-column>Action</th>
                    </tr>
                    <tr md-row>
                        <th md-column>
                            <input ng-model="vm.searchform.username" ng-model-options="{ updateOn: 'default', getterSetter: true}" type="text" maxlength="32" />
                        </th>
                        <th md-column>&nbsp;</th>
                        <th md-column>
                            <md-select ng-model="vm.searchform.permissions">
                                <md-option value="">(All)</md-option>
                                <md-option value="user">User</md-option>
                                <md-option value="admin">Administrator</md-option>
                            </md-select>
                        </th>
                        <th md-column>
                            <md-datepicker name="birthdateFrom" ng-model="vm.searchform.birthdateFrom" md-max-date="vm.searchform.birthdateTo" md-placeholder="date from" style="display:block"></md-datepicker>
                            <md-datepicker name="birthdateTo" ng-model="vm.searchform.birthdateTo" md-min-date="vm.searchform.birthdateFrom" md-max-date="vm.maxDate" md-placeholder="date to" style="display:block"></md-datepicker>
                        </th>
                        <th md-column>
                            <input ng-model="vm.searchform.email" ng-model-options="{ updateOn: 'default', getterSetter: true}" type="text" maxlength="32" />
                        </th>
                        <th md-column>&nbsp;</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-dblclick="vm.showDetails(row)"
                        ng-repeat="row in vm.tabledata.filtered = (vm.tabledata.table | filter: vm.searchform.filter) | orderBy: ['newrecord', vm.tabledata.order] | limitTo: vm.tabledata.limit : (vm.tabledata.page -1) * vm.tabledata.limit track by row.username">
                        <td md-cell ng-if="row!==vm.tabledata.selected || !vm.tabledata.selected.newrecord">{{row.username}}</td>
                        <td md-cell ng-if="row!==vm.tabledata.selected">***</td>
                        <td md-cell ng-if="row!==vm.tabledata.selected">{{row.permissions==='admin' ? 'Administrator' : 'User'}}</td>
                        <td md-cell ng-if="row!==vm.tabledata.selected">{{row.birthdate | date}}</td>
                        <td md-cell ng-if="row!==vm.tabledata.selected">{{row.email}}</td>

                        <td md-cell ng-if="row===vm.tabledata.selected && vm.tabledata.selected.newrecord">
                            <input type="text" ng-model="row.username" required ng-attr-name="{{'user'+$index}}" maxlength="32" class="invalid-border"/>
                        </td>
                        <td md-cell ng-if="row===vm.tabledata.selected">
                            <input type="password" ng-model="row.password" ng-attr-name="{{'pass'+$index}}" maxlength="32" minlength="2" class="invalid-border" />
                        </td>
                        <td md-cell ng-if="row===vm.tabledata.selected">
                            <md-select ng-model="row.permissions" ng-attr-name="{{'perms'+$index}}" required>
                                <md-option value="user">User</md-option>
                                <md-option value="admin">Administrator</md-option>
                            </md-select>
                        </td>
                        <td md-cell ng-if="row===vm.tabledata.selected">
                            <md-datepicker ng-model="row.birthdate" md-max-date="vm.maxDate" required ng-attr-name="{{'birthdate'+$index}}" md-placeholder="birth date" class="invalid-border"></md-datepicker>
                        </td>
                        <td md-cell ng-if="row===vm.tabledata.selected">
                            <input type="email" ng-model="row.email" required ng-attr-name="{{'email'+$index}}" maxlength="32"  class="invalid-border"/>
                        </td>

                        <td md-cell style="cursor:pointer;">
                            <ng-md-icon md-ink-ripple="#333" icon="save" ng-click="!usermngform.$invalid && vm.save(row)" ng-if="row===vm.tabledata.selected" ng-disabled="!usermngform.$dirty || usermngform.$invalid"><md-tooltip>Save current record</md-tooltip></ng-md-icon>
                            <ng-md-icon md-ink-ripple="#333" icon="replay" ng-click="vm.undo()" ng-if="row===vm.tabledata.selected"><md-tooltip>Undo current record</md-tooltip></ng-md-icon>
                            <ng-md-icon md-ink-ripple="#333" icon="mode_edit" ng-click="vm.edit(row)" ng-if="row!==vm.tabledata.selected"><md-tooltip>Edit current record</md-tooltip></ng-md-icon>
                            <ng-md-icon md-ink-ripple="#333" icon="delete" ng-click="vm.remove(row)" ng-if="row!==vm.tabledata.selected && !vm.tabledata.selected.newrecord"><md-tooltip>Remove current record</md-tooltip></ng-md-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </form>
</md-content>